
 
 body {
  /* background-image: url('../../assets/Crystal Clear Images.png');
  background-size: cover;   */
 
  /* background-repeat: no-repeat;  */
  font-family: Arial, sans-serif;
}



.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(47, 61, 104, 0.875);
  clip-path: polygon(32% 1%, 68% 1%, 68% 100%, 32% 100%);

}


img {
  width: 175px;
  height: 175px;
}
.logo{
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  font-size: 25px;
  
}

input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  transition: transform 0.2s ease-in-out;
}

input:hover {
  transform: scale(1.1);
}

button {
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  background-color: #9183eeb5;
  transition: transform 0.2s ease-in-out;
}

button:hover{
  background-color:#9183eee6;
  transform: scale(1.1);
}
